<div>
    <button class="btn btn-outline-secondary mb-3" type="button" (click)="refreshList()">Refresh</button>
</div>
<div *ngFor="let todo of todos">
  <form (ngSubmit)="submit()">
      <div class="input-group mb-3">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <input type="checkbox" class="todo" aria-label="Checkbox for following text input" name="completed" [(ngModel)]="todo.completed">
            </div>
          </div>
          <div>{{todo.title}}</div>
          <div class="input-group-append">
              <button class="btn btn-outline-secondary todo-btn-submit" type="submit">{{btnText}}</button>
          </div>
      </div>
  </form>
</div>